// Base Styles

// Colors
dark-grey = #444
yellow-grey = #f5f0d7
red = #E58067
blue-grey = #39424E
green = #2EC565


// Root selectors
*
    box-sizing: border-box

html,
body
    height 100%
    width 100%

body
    text-rendering optimizeLegibility
    background-color: white
    font-family: main

h2
    font-family: main
    font-weight: bold
    margin-bottom 0

body,
input
    color #444
    font 300 16px Verdana, "Lucida Sans", "Lucida Grande", sans-serif
    line-height 1.2

a,
a:visited
    color #0086cc
    text-decoration none

    &:hover
        text-decoration underline

h1
    font-family: title
    font-weight: normal
    font-size: 28px

button
    border: 0
    border-radius: 3px
    background-color: green
    color: white
    padding: 10px
    margin-right: 5px

button:hover
    background-color: green - 20%
    transition background-color 0.2s

button:active
    background-color: red - 20%
    box-shadow: 2px 2px 2px red - 40% inset

a
a:hover
a:visited
a:active
a:focus
    color: black
    outline: 0

button
    margin-bottom: 5px


input
textarea
    border: black
    border-radius: 5px
    background: yellow-grey + 50%
    outline: 0
    width: 500px
    padding: 3px

input:hover
textarea:hover
    border-color: red

input:focus
textarea:focus
    border-color: red - 20%
    box-shadow: 0
    background: white


// helpers

.txt-center
    text-align: center

.pa0
    padding: 0px

.pa2
    padding: 20px

.pt2
    padding-top: 20px

.pl2
    padding-left: 20px

.line
    margin-bottom: 50px

.mb0
    margin-bottom: 0px
