@media (max-width: 480px)
    // Landscape phones and down

    body
        text-rendering optimizeSpeed

@media (max-width: 600px)
    .graph-container
        left: -20px


@media (max-width: 767px)
    // Landscape phone to portrait tablet

    .w33 
    .w66
        width: 100%

    body
        text-rendering optimizeSpeed


@media (min-width: 768px) and (max-width: 979px)
    // Portrait tablet to landscape and desktop


@media (min-width: 1200px)
    // Large desktop

