// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

@import '_base'
@import '_states'
@import '_responsive'

#content
    padding: 0 20px


// Menu
#menu
    position: fixed
    width: 100%
    padding: 10px 10px 0 10px
    background-color: yellow-grey

    h1
        margin-bottom: 0

#content
    padding-top: 60px

// Date selector
#datepicker
    font-family: title
    font-size: 24px
    margin-left: 20px
    background: transparent
    border: 0
    cursor: pointer

#datepicker:hover
    color: red

// Note widget
#dailynote
    margin: 0
    border: 0
    font-style: italic
    font-family: main
    background: transparent
    border: 1px solid transparent
    border-radius: 0
    outline: 0

#dailynote:focus
    border: 1px solid red

#dailynote:focus
    border: 1px solid red - 20%
    background: white
    box-shadow: 0

// Zoom widget
#zoomtracker
    padding-left: 20px
    width: 96%

// Tracker widget
#current-mood
#current-coffeecup
.current-amount
    font-family: title
    font-size: 20px
    margin-left: 2px

.current-amount
    margin-bottom: 10px

.zoom-editable
    margin-top: 0
    margin-bottom: 0

.zoomtitle
    font-size: 22px
    font-weight: bold
    font-family: title

.zoomtitle
.zoomexplaination
    margin-top: 4px
    margin-bottom: 0px
    background: transparent
    border-color: transparent

.explaination
.zoomexplaination
    font-family: main
    font-size: 20px

.tracker-increment
    display: inline-block
    width: 60px

#remove-btn
    padding: 0 5px 

// New tracker widget
.tools
     padding: 30px
     border-top: 1px solid #AAA 

     .line
         margin-bottom: 0px

// Graph widget
.graph-container
    margin-top: 10px
    min-height: 300px
    position: relative

.chart
    position: relative
    left: 40px

.y-axis
    position: absolute
    top: 0
    bottom: 0
    width: 40px

// Quick fix to display x axis labels of Risckshaw graphes below the x axis
.rickshaw_graph .x_tick .title
    bottom: -14px;
    left: -18px

// Quickfix to display timeline properly
#timeline
    margin-left: 38px
    margin-top: 20px
