// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

@import '_base'
@import '_ui'

// Import your styles here

@import '_states'
@import '_layout'
@import '_responsive'

#current-mood
    font-family: title
    font-size: 20px
    margin-left: 2px

#mails
#tasks
    position: relative

.chart
    position: relative
    left: 40px

.y-axis
    position: absolute
    top: 0
    bottom: 0
    width: 40px
