// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

@import '_base'
@import '_states'
@import '_responsive'


#content
    padding: 0 30px

@font-face
    font-family: title
    src: url('../fonts/cabin.otf')

@font-face
    font-family: main
    src: url('../fonts/cabin.otf')


darkblue = #39424E // #2B3442 // #5B6E8C // #39424E
blue = #4989F2


// Menu
#menu
    position fixed
    width 100%
    height 50px
    background-color darkblue
    color white
    z-index 100

    h1
        margin-bottom: 0

    .info-text
        margin 0px 15px 0 15px
        padding-top 2px

    .datepicker
        width 250px
        background transparent
        border 0px solid transparent
        outline none
        box-shadow none
        color green + 40%
        cursor pointer
        padding 0
        margin 0

    .menu-date
        height 100%
        display flex
        align-items center

    .datepicker
        padding-top 3px

    a
        height 100%
        width 45px
        padding 10px

        &:hover
            transition background-color 0.2s ease
            background-color rgba(255, 255, 255, 0.2)

    img
        width 24px

    img:first-child
        width 30px


#content
    padding-top: 80px

.header-button
    font-weight: bold
    color white

    &:hover
        color: red
        cursor: pointer

.reload
    padding-left: 20px


// Date selector
#datepicker
    font-family: title
    font-size: 24px
    margin-left: 20px
    background: transparent
    border: 0
    cursor: pointer
    color white

#datepicker:hover
    color: red


// Note widget
#dailynote
    margin: 0
    border: 0
    font-style: italic
    font-family: main
    background: transparent
    border: 1px solid transparent
    border-radius: 0
    outline: 0

#dailynote:focus
    border: 1px solid red

#dailynote:focus
    border: 1px solid red - 20%
    background: white
    box-shadow: 0


// Zoom widget
#zoomtracker
    padding-left: 20px
    width: 96%

#current-mood
#current-coffeecup
.current-amount
    font-family: title
    font-size: 20px
    margin-left: 2px

.current-amount
    margin-bottom: 10px

.zoom-editable
    margin-top: 0
    margin-bottom: 0

.zoomtitle
    font-weight: bold
    font-family: title

.zoomtitle
.zoomexplaination
    margin-top: 4px
    margin-bottom: 0px
    background: transparent
    border-color: transparent

.explaination
.zoomexplaination
    font-family: main
    font-size: 20px
    margin 0

.tracker-increment
    display: inline-block
    width: 60px

#remove-btn
    padding: 0 5px 

#zoom-view

    h3
        font-size 22px


    .zoom-option
        display flex
        align-items center

        span:nth-child(1)
            width 200px
            text-transform uppercase
            color grey


        span:nth-child(2)
            flex-grow 1

        input
            background white
            border 2px solid darkblue
            padding 10px
            border-radius 0
            width 300px
            margin-left 10px



// New tracker widget

.tools
     padding: 30px
     border-top: 1px solid #AAA 

     .line
         margin-bottom: 0px


// Graph widget

.graph-container
    margin-top: 10px
    min-height: 300px
    position: relative
    width: 98%

.chart
    position: relative
    left: 40px

.y-axis
    position: absolute
    top: 0
    bottom: 0
    width: 40px


// Tracker Amount List

.tracker-amount
    font-family: main

    .amount-date
        width: 100px

    .amount-amount
        width: 50px

    .amount-delete
        button
            padding: 4px

.tracker-amount.deleted
    text-decoration: line-through

    .amount-delete
        button
            display: none


// Quick fix to display x axis labels of Risckshaw graphes below the x axis

.rickshaw_graph .x_tick .title
    bottom: -14px;
    left: -18px


// Quickfix to display timeline properly

#timeline
    margin-left: 38px
    margin-top: 20px

#moods-tracker
    border-bottom 1px solid #EEE


// Misc

.trackers
    padding 20px

.tracker.line
    border-bottom 1px solid #EEE
    padding 0 0 10px 0

button.btn
    background white
    border-radius 2px
    border 2px solid green
    color green
    margin-right 10px
    padding 10px
    transition all 0.2s

    &:hover
        background green
        color white

button.btn.selected
    background green
    color white


button.btn-danger
    background white
    border-radius 2px
    border 2px solid red
    color red
    padding 5px

    &:hover
        background red
        color white
        transition all 0.2s


select
    background white
    border-radius 2px
    border 2px solid green
    color green
    margin-left 10px
    padding 10px
    width 300px

    &:hover
        cursor pointer
        outline 0px
 
    &:active
    &:focus
        outline 0px


a.btn
    background white
    border-radius 2px
    border 2px solid green
    color green
    padding 5px
    width 300px

    &:hover
        cursor pointer
        text-decoration none
        color white
        background green
        outline 0px
        transition background 0.2s
 
    &:active
    &:focus
        outline 0px

textarea.input
input.input
    background white
    border 2px solid darkblue
    padding 10px
    border-radius 0
    width 300px

textarea.input
    max-width 600px
    width 100%

.tracker-value
    margin-left 20px
    font-size 20px
    font-weight bold

.tracker-new-value
    text-align right

.tracker-current-value
    margin-left 10px

button.btn.save-tracker-value
    padding 16px

input.input.tracker-input
    padding 5px
    width 290px
    margin-right 10px

.welcome-message
    padding-top 4em
    padding-bottom 6em
    border-bottom 1px solid #DDD

    p
    ul
        margin auto
        max-width 720px
        margin-bottom 1em

        li
            margin-bottom 0.5em

    p:first-child
        text-align center


#zoom-view
    .import-widget
        display flex
        align-items center

    #import-input
        padding 2px
        margin-left 0
        margin-right 1em

    #import-button
        padding 4px
        margin-top 2px

