doctype 5
html(lang="en")
    head
        include knacss.css
        include style.css 
        link(rel="shortcut icon", href="favicon.png")
        title="With KYou, know more about yourself"
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        script(src='/jquery-2.0.0.min.js')
        script(type='text/javascript')
          $(document).ready(function() {
          });
    body
        .container.w33.center
            h1 ok
