doctype 5
html(lang="en")
    head
        include knacss.css
        include style.css 
        link(rel="shortcut icon", href="favicon.png")
        title="With KYou, know yourself better"
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        script(src='jquery-2.0.0.min.js')
        script(src='fade-text.js')
        script(type='text/javascript').
          $(document).ready(function() {
            fadeSlide($('.container h1'), 'Kantify You', function() {
              $('.other').fadeIn(2000);
            });
          });
    body
        .container.center.mt2
            p.center-text
                img.title-icon(src="./icon.png", alt="Kyou Logo")
                br
                h1.mt3 &nbsp;

        .other.center
            p.text.
                Through your webtools, your objects and your collaborations you
                create an huge amount of personal data. Unfortunately you can't
                take advantage of it at its full potential. That's a pity
                because you could learn a lot about yourself. To picture it,
                let's say that the world of personal data is like an
                unexplored land where the entrance is right behind your house.
                You know you could enter it but you don't really know
                where to go once you arethere. It makes you sad because you
                are pretty sure that lots of new suprises await you.

            p.text
                | KYou is the first steps through this new country. By building
                | analytics from your 
                a(href="http://cozy.io") Cozy
                | &nbsp;data, it provides
                | you with the first shape of a 
                | better knowledge of yourself. Kyou aggregates data from your
                | web applications and displays it as
                | simple charts.
                | With the help of these new insights,
                | you will learn more about you and  
                | improve yourself.
                
            h2 Trackers
            p.text.
                Kyou displays several analytics. For that, it provides
                different kind of trackers: trackers that requires a daily
                recording, trackers that aggregate data from your Cozy apps and
                trackers that aggregates data from other web applications. 

            p.mt2
                img(src="analytics.png", alt="analytics picture").mt2

            p.text.
                You will find in the following
                the first trackers available.  And because KYou is libre
                and open source you can contribute by adding your own tracker
                to this list.
            h4 Mood
            p.text.
                Track your Mood and understand why you feel good sometimes
                and what is responsible for making you feel bad.
            h4 Tasks
            p.text.
                Count every day the number of achievements you recorded
                 with Cozy Todos.
            h4 Mails
            p.text.
                Count the number of mails you receive every day (it 
                requires Cozy Mails).

            h4 Coming soon 
            p.text.
                Weather, caffeine consumption, alcohol consumption,
                activity reports...

            h2 Setup
            p.text
                | Go to your Cozy market page and copy paste the following url
                | in the "install your app" field:
                br
                a(href='https://github.com/frankrousseau/kyou') https://github.com/frankrousseau/kyou

            h2 Preview
            p.center-text
                a(href="https://demo.cozycloud.cc/apps/kyou/")
                    button Have a look at the demo
                br
                a(href="https://github.com/frankrousseau/kyou")
                    button Check the code on Github

