doctype 5
html(lang="en")
    head
        include knacss.css
        include style.css 
        link(rel="shortcut icon", href="favicon.png")
        title="With KYou, know yourself better"
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        script(src='jquery-2.0.0.min.js')
        script(src='fade-text.js')
        script(type='text/javascript').
          $(document).ready(function() {
            fadeSlide($('.container h1'), 'Kantify You', function() {
              $('.other').fadeIn(2000);
            });
          });
    body
        .container.center.mt2
            p.center-text
                img.title-icon(src="./icon.png", alt="Kyou Logo")
                br
                h1.mt3 &nbsp;

        .other.center
            p.text.
                Through the webtools you use, your connected objects and simple web browsing you
                create a huge amount of personal data. Unfortunately, you can't
                take advantage of it to its full potential. It's a pity
                because you could be learning a lot on yourself. Imagine,
                a world of personal data, an
                unexplored land within your reach.
                You know you could enter it but you probably don't really know
                where to start.

            p.text
                | KYou is the first step towards this new country. By building
                | analytics directly from you
                a(href="http://cozy.io") Cozy
                | &nbsp;data, it provides
                | you with the first taste of an 
                | empirical knowledge of yourself. Kyou aggregates data from your
                | web applications and displays it as
                | simple charts.
                | Empowered with this new knowledge,
                | you will learn more about you and  
                | improve yourself.
                
            h2 Trackers
            p.text.
                Kyou displays analytics using
                different kinds of tracker: trackers that require a daily
                recording, trackers that aggregate data from your Cozy apps and
                trackers that aggregate data from other web applications. 

            p.mt2
                img(src="analytics.png", alt="analytics picture").mt2

            p.text.
                The following are
                the first trackers available. And because KYou is libre
                and open source you can contribute by adding your own tracker
                to this list.
            h4 Mood
            p.text.
                Record your mood and try to pin point what
                influences your mood.
            h4 Tasks
            p.text.
                Monitor the number of task you achieve daily
                 in Cozy Todos.
            h4 Mails
            p.text.
                Monitor the number of email you receive daily (
                requires Cozy Mails).
            h4 Coffee
            p.text.
                Record how many cup of coffee you had each days.


            h4 Coming soon 
            p.text.
                Weather, alcohol consumption, activity reports,
                custom trackers... and yours!

            h2 Setup
            p.text
                | Go to your Cozy market page and copy paste the following url
                | in the "install your app" field:
                br
                a(href='https://github.com/frankrousseau/kyou') https://github.com/frankrousseau/kyou

            h2 Preview
            p.center-text
                a(href="https://demo.cozycloud.cc/apps/kyou/")
                    button Have a look at the demo
                br
                a(href="https://github.com/frankrousseau/kyou")
                    button Check the code on Github

