doctype 5
html(lang="en")
    head
        include knacss.css
        include style.css 
        link(rel="shortcut icon", href="favicon.png")
        title="With KYou, know more about yourself"
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        script(src='jquery-2.0.0.min.js')
        script(src='fade-text.js')
        script(type='text/javascript').
          $(document).ready(function() {
            fadeSlide($('.container h1'), 'Kantify You', function() {
              $('.other').fadeIn(2000);
            });
          });
    body
        .container.center.mt2
            p.center-text
                img.title-icon(src="./icon.png")
                br
                h1.mt3 &nbsp;

        .other.center
            p.text.
                Through our webtools, our objects and our collaborations we
                create an huge amount of personal data. Unfortunately we can't
                take advantage of it at its full potential. That's a pity
                because it could teach a lot of about ourselves. To picture it,
                I would say that the world of personal data is like an
                unexplored land: we don't really know where to go but we are
                sure that there are a lot of new suprises awaiting for us.

            p.text
                | KYou is the first steps through this new country. By building
                | analytics from your 
                a(href="http://cozy.io") Cozy
                | &nbsp;data, it provides
                | you the first shape of a 
                | better knowledge of yourself. With these new insights I
                | expect you will learn more about you and by this 
                | way improve yourself.
            p
                a(href="https://demo.cozycloud.cc/apps/kyou")
                    button Demo
                a(href="https://github.com/frankrousseau/kyou")
                    button Github

            h2 Trackers
            p.text.
                Kyou displays several metric analytics. For that, it provides
                different kind of trackers: trackers that requires a daily
                recordinng, data aggregators from your Cozy apps and
                trackers that aggregate data from other web applications.  Here
                are the first trackers available.  And because KYou is libre
                and open source you can contribute by adding your own tracker
                to this list.
            h4 Mood
            p.text.
                Track your Mood and understand why you feel good sometimes
                and what is responsible for making you feel bad.
            h4 Tasks
            p.text.
                Count every day the number of achievements you recorded
                 with Cozy Todos.
            h4 Mails
            p.text.
                Count the number of mails you receive every day (it 
                requires Cozy Mails).

            h2 Next to come

            p.text.
                Weather, caffeine consumption, alcohol consumption,
                activity reports...
