rounded-border()
    -webkit-border-radius: arguments
    -moz-border-radius: arguments
    border-radius: arguments
            
dark-grey = #444
yellow-grey = #f5f0d7
red = #E58067

@font-face
    font-family: title
    src: url('/fonts/chunkfive.otf')

@font-face
    font-family: main
    src: url('/fonts/district-pro-thin.otf')

html,
body
    height 100%
    width 100%

body
    text-rendering optimizeLegibility
    background-color: yellow-grey
    font-family: main

h2
h3
h4
    font-family: main
    font-weight: normal

body,
input
    color #444
    font 300 16px Geneva, Verdana, "Lucida Sans", "Lucida Grande", sans-serif
    line-height 1.2

a,
a:visited
    color #0086cc
    text-decoration none

    &:hover
        text-decoration underline

h1
    font-family: title
    font-weight: normal
    font-size: 48px
    padding-left: 95px

button
    border: 0
    border-radius: 3px
    background-color: dark-grey
    color: white
    padding: 10px
    margin-right: 5px

button:hover
    background-color: red

button:active
    background-color: red - 20%
    box-shadow: 2px 2px 2px red - 40% inset

a
button
    cursor: pointer

.text
    font-family: main
    font-size: 20px

.pa2
    padding: 20px

.line
    margin-bottom: 50px

.container
    max-width: 480px
    margin-top: 10%

.other
    max-width: 480px

.center-text
    text-align: center

.other
    display: none
    
@media (max-width: 600px)
    .container
        margin-top: 20px

    .container
        p
            margin: 0

    h1
        padding-left: 0px
        margin-bottom: 0

    .center-text
        text-align: left

    .container
    .other
        padding: 20px
