
#add-basic-tracker-widget
    h2.mb1 Select the trackers you want to see

    .line#add-basic-tracker-list

    .line 
        i Custom trackers
    .line#add-tracker-list

#add-tracker-widget
    h2 Create a custom tracker
    .mt2
        div
            input#add-tracker-name.input(placeholder="name")
        div
            textarea#add-tracker-description.input(placeholder="description")
        div
            button#add-tracker-btn.btn add tracker

.line
.line.txt-center
    a.btn(href="#") See trackers
