#content.pa2.trackers
    .line.mb0
        img(src='icons/main_icon.png', style='height: 50px').mt3.ml1.right
        h1.right 
            a(href="http://frankrousseau.github.io/kyou/", target="_blank")
                | Kantify YOU
    .line.mb0
        input#datepicker
    .line.pl2
        textarea#dailynote(placeholder="add a note for today")

    .line#zoomtracker
        .line
            h2#zoomtitle No tracker selected
            p#zoomexplaination.explaination
            p
                select#zoomtimeunit
                    option(value="day") day
                    option(value="week") week
                    option(value="month") month
                span &nbsp;
                select#zoomstyle
                    option(value="bar") bars
                    option(value="line") lines
                    option(value="scatterplot") points
                    option(value="lineplot") lines + points
            p
                select#zoomcomparison
        #zoomgraph.graph-container
            #zoom-y-axis.y-axis
            #zoom-charts.chart
        .line.txt-center.pt2
            a(href="#") go back to tracker list

.tools.line
    #add-tracker-widget
        h2 Create your tracker
        .line
            input#add-tracker-name(placeholder="name")
        .line
            textarea#add-tracker-description(placeholder="description")
        .line
            button#add-tracker-btn add tracker
