#content.pa2
    .line
        img(src='icons/main_icon.png', style='height: 50px').mt3.ml1.right
        h1.right 
            a(href="http://frankrousseau.github.io/kyou/", target="_blank")
                | Kantify YOU
    .line#mood
        .mod.w33.left
            h2 Mood
            p.explaination
                | The goal of this tracker is to help you
                | understand what could influence your mood by comparing it
                | to other trackers.
            p#current-mood loading...
            button#good-mood-btn good
            button#neutral-mood-btn neutral
            button#bad-mood-btn bad
        .mod.w66.left
            #moods.graph-container
                #moods-y-axis.y-axis
                #moods-charts.chart
    .line#task
        .mod.w33.left
            h2 Tasks
            p.explaination
                | This tracker counts the tasks marked as done in
                | your Cozy. The date used to build the graph is the completion
                | date
        .mod.w66.left
            #tasks.graph-container
                #tasks-y-axis.y-axis
                #tasks-charts.chart
    .line#mail
        .mod.w33.left
            h2 Mails
            p.explaination
                | This tracker counts the amount of mails you received 
                | in your mailbox everyday.
        .mod.w66.left
            #mails.graph-container
                #mails-y-axis.y-axis
                #mails-charts.chart
    .line#coffeecup
        .mod.w33.left
            h2 Coffee Cups
            p.explaination
                | This tracker allows you to track the amount of coffee cup
                | you drink every day
            p#current-coffeecup loading...
            button 1
            button 2
            button 3
            button 4
            button 5
            button 6
            button 7
            button 8
            button 9
        .mod.w66.left
            #coffeecups.graph-container
                #coffeecups-y-axis.y-axis
                #coffeecups-charts.chart
