#menu
    span.info-text Visualize your data from:
    input.datepicker#datepicker-start(value="#{startDate}")
    span.info-text to:
    input.datepicker#datepicker-end(value="#{endDate}")

#content.pa2.trackers

    img.hidden(src='img/spinner.svg')

    .line#zoom-view

.line
    #add-basic-tracker-widget
    h2 Add your tracker
    .line#add-basic-tracker-list
        

//-.line.hidden
    //-#add-tracker-widget
        //-h2 Create your tracker
        //-.line
            //-input#add-tracker-name(placeholder="name")
        //-.line
            //-textarea#add-tracker-description(placeholder="description")
        //-.line
            //-button#add-tracker-btn add tracker

