#content
    h1 Kantify YOU
    #mood
        h2 Mood
        p#current-mood 'loading...'
        button#good-mood-btn good
        button#neutral-mood-btn neutral
        button#bad-mood-btn bad
    #todos
        h2 Todos
    #mails
        h2 Mails
