#content.pa2.trackers
    .line
        img(src='icons/main_icon.png', style='height: 50px').mt3.ml1.right
        h1.right 
            a(href="http://frankrousseau.github.io/kyou/", target="_blank")
                | Kantify YOU
    .line
        input#datepicker
    .line#mood
        .mod.w33.left
            h2 Mood
            p.explaination
                | The goal of this tracker is to help you
                | understand what could influence your mood by comparing it
                | to other trackers.
            p#current-mood loading...
            button#good-mood-btn good
            button#neutral-mood-btn neutral
            button#bad-mood-btn bad
        .mod.w66.left
            #moods.graph-container
                #moods-y-axis.y-axis
                #moods-charts.chart

.tools.line
    #add-tracker-widget
        h2 Create your tracker
        .line
            input#add-tracker-name(placeholder="name")
        .line
            textarea#add-tracker-description(placeholder="description")
        .line
            button#add-tracker-btn add tracker
