#content.pa2
    .line
        h1.right Kantify YOU
    .line#mood
        .mod.w33.left
            h2 Mood
            p.explaination
                | The mood is the main thing to track with Kyou. The main goal
                | of Kyou is tp help you
                | to understand what could influence your mood.
            p#current-mood 'loading...'
            button#good-mood-btn good
            button#neutral-mood-btn neutral
            button#bad-mood-btn bad
        .mod.w66.left
            #moods.graph-container
                #moods-y-axis.y-axis
                #moods-charts.chart
    .line#task
        .mod.w33.left
            h2 Tasks
            p.explaination
                | This tracker counts the tasks marked as done in
                | your Cozy. The date used to build the graph is the completion
                | date
        .mod.w66.left
            #tasks.graph-container
                #tasks-y-axis.y-axis
                #tasks-charts.chart
    .line#mail
        .mod.w33.left
            h2 Mails
            p.explaination
                | This tracker counts the amount of mails you received 
                | in your mailbox everyday.
        .mod.w66.left
            #mails.graph-container
                #mails-y-axis.y-axis
                #mails-charts.chart
