#menu
    span.info-text Visualize your data from:
    input.datepicker#datepicker-start(value="#{startDate}")
    span.info-text to:
    input.datepicker#datepicker-end(value="#{endDate}")
    
#content.pa2

    .welcome-message
        | Welcome on KYou the app that will help you to monitor yourself
        | It builds graph based on the data store in your Cozy. To start
        | it's super simple, you just have to select the data you want
        | in the list below. Every time you click on a tracker, its graph
        | is displayed. 
        |
        | If you want details about a graph or compare it with another graph
        | simply click on its title, it will lead you to a dedicatd UI.

    .trackers

    img.hidden(src='img/spinner.svg')

    .line#zoom-view


.pa2.line#add-tracker-zone
    #add-basic-tracker-widget
    h2.mb2 Add your tracker
    .line#add-basic-tracker-list
        

//-.line.hidden
    //-#add-tracker-widget
        //-h2 Create your tracker
        //-.line
            //-input#add-tracker-name(placeholder="name")
        //-.line
            //-textarea#add-tracker-description(placeholder="description")
        //-.line
            //-button#add-tracker-btn add tracker

