.mod.w33.left
    h2 
        a(href="#mood") Mood
    p.explaination
        | The goal of this tracker is to help you
        | understand what could influence your mood by comparing it
        | to other trackers.
    p#current-mood loading...
    button#good-mood-btn good
    button#neutral-mood-btn neutral
    button#bad-mood-btn bad
.mod.w66.left
    #moods.graph-container
        #moods-y-axis.y-axis
        #moods-charts.chart
