.mod.w33.left
    h2 
        a(href="#trackers/#{model.id}") #{model.name}
    p.explaination #{model.description}
    .current-amount
        | Set value for today
    button.up-btn + 
    button.down-btn -
    input.tracker-increment(value="1")
    p
        button.smaller.remove-btn remove tracker

.mod.w66.left
    .graph-container
        .y-axis
        .chart
