.mod.w33.left
    h2 #{model.name}
    p.explaination #{model.description}
    .current-amount
        | set value for today
    button.up-btn + 
    button.down-btn -
    p
        button.smaller.pa0.remove-btn remove tracker
.mod.w66.left
    .graph-container
        .y-axis
        .chart
